<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="ngx.css">
    <link rel="stylesheet" type="text/css" href="codemirror.min.css">
    <link rel="stylesheet" type="text/css" href="iview.css">
    <script src="codemirror.min.js"></script>
    <script src="vue.min.js"></script>
    <script src="vue-resource.min.js"></script>
    <script src="iview.min.js"></script>

    <title>Nginx Manager</title>
</head>

<body>
    <div id="ngxman">
        <div class="layout">
            <Sider width=240 style="position: fixed; height: 100vh; left: 0; overflow: auto;">
            <row>
            <i-col>
                <i-select transfer=true v-model="currentSite" placeholder="搜索站点..." filterable >
                    <i-option v-for="site in sites" :value="site" :key="site">{{ site }}</i-option>
                </i-select>
            </i-col>
            </row>
            <hr>
            <i-menu :theme="theme" active-name="1" @on-select="showsite">
                <site-item
                    v-for="site in sites"
                    v-bind:site="site">
                </site-item>
            </i-menu>
            </Sider>
            <Layout style="margin-left: 240px">
                <Header style="height:120px">
                    <card span=24 style="position: fixed; width:150px; margin-left: 29">
                        <p slot="title">当前站点</p>
                        <p>{{currentSite}}</p>
                    </card>
                </Header>
                <Content>
                    <textarea name="ngxcfg" id="ngxcfg"></textarea>
                </Content>
            </Layout>
        </div>
    </div>
    <script src="ngx.js"></script>
</body>

</html>
