<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="static/ngx.css">
    <link rel="stylesheet" type="text/css" href="static/codemirror.min.css">
    <script src="static/semantic/jquery-3.1.1.min.js"></script>
    <script src="static/semantic/semantic.min.js"></script>
    <script src="static/ngx.js"></script>
    <script src="static/codemirror.min.js"></script>
    <title>Nginx Manager</title>
</head>

<body>
    <div id="main" class="ui grid">
        <div id="left" class="three wide column">
            <div class="ui search">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="搜索站点...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
            <div id="sites" class="ui list secondary vertical menu">
                {{range $index, $ele := .Sites -}}
                    {{if $index -}}
                    <div id="{{$ele | wrapSite}}" class="item">
                    {{else}}
                    <div id="{{$ele | wrapSite}}" class="item active">
                    {{- end}}
                    <i class="site linkify icon" style="float: left;">{{$ele}}</i>
                    </div>
                {{- end}}
            </div>
        </div>
        <div id="right" class="twelve wide column">
            <div class="ui clearing segment">
                当前站点: <span id="currentsite"></span>
                <div id="create-site" class="ui basic green button" style="float: right;">新建站点</div>
                <div class="ui input" style="float:right">
                    <input id="new-site" type="text" placeholder="abc.xyz.com">
                </div>

            </div>
            <div class="ui three buttons">
                <div id="save-cfg" class="ui basic green button">保存配置</div>
                <div id="test-cfg" class="ui basic red button">测试配置</div>
                <div id="reload-cfg" class="ui basic yellow button">加载配置</div>
            </div>
            <div class="ui segment">
                <textarea name="ngx-cfg-view" id="ngx-cfg-view">
                    {{.NgxInfo}}
                </textarea>
            </div>
        </div>
    </div>
    <div class="alert-ui ui tiny modal">
        <div id="alert" class="content"></div>
        <div class="actions">
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                确认
            </div>
        </div>
    </div>
    <div class="rename-ui ui mini modal">
        <div id="rename" class="content" contenteditable="true"></div>
        <div class="actions">
            <div class="ui green ok button">重命名</div>
            <div class="ui red cancel button">取消</div>
        </div>
    </div>
    <div class="confirm-ui ui mini modal">
        <p>请输入:<span id="confirm-site-verify"></span>，确认保存</p>
        <div class="ui large input">
            <input type="text" name="confirm-site" id="confirm-site">
        </div>
        <div class="actions">
            <div class="ui green ok button">保存</div>
            <div class="ui red cancel button">取消</div>
        </div>
    </div>
</body>

</html>
