<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" type="text/css" href="ngx.css"> -->
    <link rel="stylesheet" type="text/css" href="codemirror.min.css">
    <link rel="stylesheet" type="text/css" href="iview.css">
    <script src="codemirror.min.js"></script>
    <script src="vue.min.js"></script>
    <script src="vue-resource.min.js"></script>
    <script src="iview.min.js"></script>

    <title>Nginx Manager</title>
</head>

<body>
    <div id="ngxman">
        <template>
        <div class="layout">
            <Layout>
                <Sider hide-trigger>
                <!-- <site-item
                    v-on:showcfg="showcfg"
                    v-for="site in sites"
                    v-bind:site="site">
                </site-item> -->
                <Menu :theme="theme" active-name="1">
                    <MenuGroup title="内容管理">
                        <MenuItem name="1">
                            <Icon type="document-text"></Icon>
                            文章管理
                        </MenuItem>
                        <MenuItem name="2">
                            <Icon type="chatbubbles"></Icon>
                            评论管理
                        </MenuItem>
                    </MenuGroup>
                </Menu>
                </Sider>
                <Layout>
                    <Header style="height:120px">
                        <div>{{currentSite}}</div>
                    </Header>
                    <Content>
                        <textarea name="ngxcfg" id="ngxcfg">x</textarea>
                    </Content>
                </Layout>
            </Layout>
        </div>
        </template>
    </div>
    <script src="ngx.js"></script>
</body>

</html>
